*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;

}

main {
    margin-top: 2vh;
    display:flex;
    height:100vh;
    justify-content: flex-end;
}
.sidebar{

    width:20%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar-main{
    height:6vh;
    width:90%;
    background-color: #008485;
    display:flex;
    align-items: center;
    padding-left:5%;
    font-size: 1.8rem;
    color:white;
}
.sidebar-submain {
    height:5.5vh;
    width:90%;
    padding-left:5%;
    background-color: #0DB6B8;
    display:flex;
    align-items: center;
    font-size:1.2rem;
    color:white;
}
.sidebar-content{
    cursor:pointer;
    list-style-type: circle;
    height:4.5vh;
    padding-left:5%;
    width:90%;
    font-size: 0.9rem;
    background-color: #00CED0;
    display:flex;
    align-items: center;
    color:white;
    border-bottom: 0.5px white solid;
    list-style-type: disc;
}
.mainComponent{
    width:80%;
    height:100vh;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mainComponent-header{
    width:95%;
    height:4vh;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.mainComponent-header-text{
    font-size:2rem;
    height:4vh;
    display: flex;
    align-items: flex-start;
}
.messageComponent{
    margin-top: 3vh;
    display:flex;
    width:95%;
    flex-direction: column;
}
.messageComponent-topbar{
    display:flex;
    width:100%;
}
.messageComponent-list{
    display:flex;
    width:100%;
    cursor:pointer;
}
.messageComponent-title{
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    background-color: #008485;
    color:white;
    border:1px solid black;
}
.messageComponent-category{
    width:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    background-color: #008485;
    color:white;
    border:1px solid black;
}
.messageComponent-date{
    width:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    font-size:0.8rem;
    background-color: #008485;
    color:white;
    border:1px solid black;
}
.messageComponent-count{
    width:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    background-color: #008485;
    color:white;
    border:1px solid black;
}
.messageComponent-content{
    border:1px solid black;
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    background-color: #008485;
    color:white;
}
.bg_white{
    background-color: white;
}
.col_black{
    color: black;
}
.bd_green{
    border:1px solid #008485;
}
.font{
    font-size:1rem;
}