*{
    margin:0;
    padding:0;
}
header {
    width:100%;
    height: 10vh;
}
main {
    display:flex;
    height:100vh;
}
.sidebar{
    width:20%;
    height:100vh;
}
.mainComponent{
    width:80%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchComponent{
    width:100%;
    height:30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.searchComponent-topBar {
    width:90%;
    height:5vh;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.searchComponent-topBar-left{
    width:40%;
    font-size:2rem;
}
.searchComponent-topBar-right{
    width:18%;
    height:2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008485;
    border-radius:5px;
    color:white;
}
.searchComponent-titleBar{
    margin-top:1vh;
    width:90%;
    height:4vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #008485;
    color:white;
    border-radius:5px;
}
.searchComponent-searchBar{
    width:90%;
    height: auto;
}
.searchComponent-searchBar-list{
    display:flex;
    height:3vh;
}
.searchComponent-searchBar-list-key{
    width:18%;
    height: 3vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border: #008485 1px solid;
    border-radius: 5px;
    font-size: 0.9rem;
}
.searchComponent-searchBar-list-value{
    width:32%;
    height:3vh;
    padding-left:1%;
    display:flex;
    align-items: center;
    border: #d5c9c9 1px solid;
    border-radius:5px;
    font-size: 0.9rem;

}
.searchComponent-searchBar-list-value > select {
    width:45%;
}
.searchComponent-searchBar-list-value > input {
    width:45%;
}
.checkbox{
    display:flex;
    width:30%;
    align-items: center;
}
.checkbox >input {
    margin-right:0.5vw;
}
.listComponent{
    margin-top: 3vh;
    width:95%;
    height:65vh;
    display: flex;
    flex-direction: column;

}
.listComponent-topbar {
    display:flex;
    height:3vh;
    align-items: center;

}
.listComponent-listbar {
    margin-top:2px;
    display:flex;
    height:3vh;
    align-items: center;
}
.listComponent-topbar-element{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    width:5%;
    background-color: #008485;
    height:3vh;
    font-size: 0.7rem;
    border:1px solid darkgray;
}
.listComponent-topbar-elementMedium{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    width:7%;
    background-color: #008485;
    height:3vh;
    font-size: 0.7rem;
    border:1px solid darkgray;
}
.listComponent-topbar-elementBig{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    width:11%;
    background-color: #008485;
    height:3vh;
    font-size: 0.7rem;
    border:1px solid darkgray;
}

.bg-white{
    background-color: white;
    color:black;
}
.bd-white-left{
    border-left: 1px solid white;
}
.bd-black-left{
    border:1px solid darkgray;
}
.bd-black{
    border:1px solid darkgray;
}